:root {
    --font-black: #000;
    --font-primary-black: #020202;
    --font-white: #ffffff;
    --font-gray: #858585;
    --font-blue-green: #069ABA;
}

/* ========== Hero Section CSS ========== */
#home .hero_section {
    display: block;
    padding: 25.5rem 0 10rem;
    text-align: left;
}
#home .hero_section::before {
    background-image: url('../images/home-hero-bg.png');
}
#home .hero_section::after {
    background: linear-gradient(-30deg, rgba(124,112,181,0) -5%, rgba(71,65,101,0.9) 65%);
}
#home .hero_section h1 {
    font-size: 9rem;
    line-height: 11rem;
}
#home .hero_section h1 + p {
    color: #CFCFCF;
    margin-top: 3rem;
    margin-bottom: 3.2rem;
}
#explore {
    background-color: #ffffff;
    border: 0.1rem solid #CBCACA;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.3);
    border-radius: 7.2rem;
    display: inline-block;
    padding: 1rem;
}
#explore select {
    border-radius: 2.8rem;
    font-weight: 600;
    font-size: 1.8rem;
    color: #9B9B9B;
    width: 16rem;
    padding: 0.8rem;
    margin-right: 2rem;
}
#explore select option {
    color: #9B9B9B;
}
#explore button {
    font-size: 1.8rem;
    line-height: 3.6rem;
    padding: 1rem 2.5rem;
    margin-left: 0.7rem;
}
.hero_section form + p {
    color: #CFCFCF;
    margin-top: 3.7rem;
}
.hero_section form + p span {
    font-weight: 600;
    color: #ECECEC;
}

/* ========== Scenery Section CSS ========== */
.scenery_section  {
    height: 111.2rem;
}
.scenery_section h2 {
    margin-bottom: 2.4rem;
}
.scenery_section h2 + p {
    color: #878787;
}
.scenery_section .scenery_slider {
    padding: 8.5rem 0;
    margin: 0 -1rem;
}
.scenery_section .scenery_block {
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 1rem 9rem;
}
.scenery_section .scenery_block img {
    min-height: 36.1rem;
    object-fit: cover;
    object-position: center;
}
.scenery_section .scenery_slide.slick-center img {
    min-height: 31.7rem;
}
.scenery_section .scenery_slide.slick-center .scenery_block {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}
.scenery_section .scenery_slide {
    margin-top: 0.5rem;
    min-height: 44.4rem;
}
.scenery_section .scenery_slide.slick-center {
    margin-top: 0;
}
.scenery_section .content {
    display: none;
    padding: 3.3rem 1.4rem 3.5rem;
    position: relative;
}
.scenery_section .content::before {
    content: '';
    background-image: url(../images/“.png);
    background-position: 47% 58%;
    background-repeat: no-repeat;
    position: absolute;
    top: -1.7rem;
    box-shadow: 0px 4px 31px rgb(0 0 0 / 14%);
    background-color: #fff;
    border-radius: 50%;
    padding: 4rem;
    right: 3.1rem;
}
.scenery_section .scenery_slide.slick-center .content {
    display: block;
}
.scenery_section .content h5 {
    margin-right: 10rem;
}
.scenery_section .content p {
    color: #555555;
    font-size: 1.4rem;
    line-height: 2.1rem;
    margin-top: 1rem;
}
/* ========== Choose Section CSS ========== */
.choose_section {
    padding-top: 3.8rem;
    background-image: url('../images/3188416.jpg');
    background-size: 100% 54.2rem;
    background-repeat: no-repeat;
    background-position: top center;
}
.choose_section .container {
    z-index: 1;
    position: relative;
}
 .choose_section::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 54.2rem;
    background: linear-gradient(270deg, rgba(124,112,181,0.9) 0%, rgba(71,65,101,0.9) 72%);
}
.choose_section h2,
.choose_section h2 + p {
    color: var(--font-white);
}
.choose_section h2 + p {
    margin: 1rem 0 3rem;
    color: #EFEFEF;
}
.choose_section .slider_main {
    max-width: 88%;
    margin: 0 auto;
}
.choose_section .slider_indicatore .slick-prev {
    left: -7.2rem;
}
.choose_section .slider_indicatore .slick-next {
    right: -7.2rem;
}
.choose_section .choose_slider {
    padding-top: 12rem;
}
.choose_section .choose_slide {
    padding: 0 1rem;
}
.choose_section .choose_block {
    margin: 0 auto 17.8rem;
    background: #FFFFFF;
    box-shadow: 0px 8px 60px rgb(0 0 0 / 15%);
    border-radius: 1rem;
    max-width: 33rem;
    padding: 4.4rem 1.9rem;
}
.choose_section .content h5 {
    margin: 3.2rem 0 1.1rem;
}
.choose_section .content h5 + p {
    color: #858585;
    line-height: 2.7rem;
}
.choose_section .content a {
    color: #000;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin: 3.5rem 0 2.5rem;
    display: inline-block;
    position: relative;
}
.choose_section .content a::after {
    content: '';
    height: 0.3rem;
    background-color: #000;
    width: 2rem;
    display: block;
    position: absolute;
    right: -3.1rem;
    top: 1.3rem;
}
.choose_section .content a::before {
    content: '';
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-bottom: 1.1rem solid #000;
    transform: rotate(90deg);
    position: absolute;
    right: -4.2rem;
    top: 0.9rem;
}
.choose_section .choose_block img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* ========== partner section CSS ========== */
.partner_section .title_part {
    max-width: 62rem;
}
.partner_section h2 + p {
    color: #858585;
    margin: 2rem 0 6rem;
}
.partner_section .img_part {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.partner_section .img_box {
    margin: 0 4.3rem;
}
.partner_section .img_box img {
    margin: 0 auto;
}
/* ========== client section CSS ========== */
.client_section .title_part {
    text-align: left;
    margin: 0 0 4.2rem 2.2rem;
}
.client_section .title_part h4 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 0.42rem;
    color: #626262;
    margin-top: 1.4rem;
}
.client_section h2 {
    text-align: left;
    margin-bottom: 1.8rem;
}
.client_section h2 + p {
    color: #626262;
}
.client_section .slick-list{
    padding: 0 10% 0 0 !important;
}
.client_section .slider_indicatore .slick-prev {
    left: auto;
    right: 21.6rem;
    top: 0;
}
.client_section .slider_indicatore .slick-next {
    right: 7.7rem;
    top: 0;
}
.client_section .client_slider {
    padding-top: 7rem;
}
.client_section .client_slide {
    padding: 0 2rem;
}
.client_section .client_block {
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgb(0 0 0 / 10%);
    border-radius: 1rem;
    position: relative;
    margin: 14.7rem auto 18rem;
    max-width: 40rem;
    text-align: center;
    padding: 10rem 5.4rem 5.1rem;
}
.client_section h5 + p {
    line-height: 1.8rem;
    color: #858585;
    margin-bottom: 7.6rem;
}   
.client_section .client_block .review_box {
    margin-bottom: 1.8rem;
}
.client_section .client_block .review_box + p {
    line-height: 2.8rem;
    color: #858585;
}
.client_section .client_block .review_box,
.client_section .client_block .review_box  + p {
    text-align: left;
}
.client_section .img_box {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.client_section .img_box img {
    width: 100%;
}

/* ========== Media Query ========== */
@media screen and (min-width: 1250px) {
    .client_section .slider_indicatore .slick-prev, 
    .client_section .slider_indicatore .slick-next {
        height: 8rem;
        width: 7.3rem;
    }
    .client_section .slider_indicatore .slick-prev::before, 
    .client_section .slider_indicatore .slick-next::before {
        top: 2.9rem;
        height: 2rem;
        width: 2rem;
    }

}
@media screen and (min-width: 1513px) {
    .client_section .client_inner {
        margin-left: calc((100% - 141.6rem) / 2);
    }
}
@media screen and (max-width: 1512.98px) {
    .client_section .client_inner {
        padding-left: 55px;
    }
}
@media screen and (max-width: 1365.98px) {
    #home .hero_section h1 {
        font-size: 8rem;
        line-height: 9rem;
    }
    .scenery_section {
        height: 93rem;
    }
    .scenery_section .scenery_block img {
        min-height: 30rem;
    }
    .scenery_section .scenery_slide.slick-center img {
        min-height: 26rem;
    }
    .scenery_section .content::before {
        padding: 3rem;
        background-size: 2.5rem;
        right: 2rem;
    }
    .scenery_section .content h5 {
        margin-right: 5rem;
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .choose_section .slider_main {
        max-width: 100%;
    }
    .choose_section .choose_slide {
        padding: 1rem;
    }
    .choose_section .choose_block {
        margin: 0 auto 12rem;
    }
    .choose_section .slider_indicatore .slick-prev {
        left: 2rem;
    }
    .choose_section .slider_indicatore .slick-next {
        right: 2rem;
    }
    .partner_section .img_box {
        margin: 0 2rem 3rem;
        width: 15rem;
    }
    .client_section .client_inner {
        padding-left: 1rem;
    }
    .client_section .client_slide {
        padding: 0 1rem;
    }
    .client_section .client_block {
        padding: 10rem 3rem 5rem;
        margin: 11rem auto 18rem;
    }
    .client_section h5 + p {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 1199.98px) {
    #home .hero_section {
        padding: 20rem 0 10rem;
    }
    #home .hero_section h1 {
        font-size: 7rem;
        line-height: 8rem;
    }
    #explore {
        padding: 0.6rem;
    }
    #explore select {
        width: 14rem;
    }
    .slider_indicatore .slick-next::before {
        left: 1.7rem;
    }
}

@media screen and (max-width: 991.98px) {
    #home .hero_section {
        padding: 15rem 0 10rem;
    }
    #home .hero_section h1 {
        font-size: 6rem;
        line-height: 7rem;
    }
    #explore {
        padding: 0.5rem;
    }
    #explore select {
        width: 11rem;
        font-size: 1.5rem;
        margin-right: 0;
    }
    #explore button {
        line-height: 2.1rem;
        font-size: 1.4rem;
    }x
    .choose_section .choose_slider {
        margin: 0 -1rem;
        padding-top: 10rem;
    }
    .choose_section .choose_block {
        max-width: 35.4rem;
        margin: 0 auto 8rem;
    }
    .choose_section .slider_indicatore .slick-next {
        right: 1rem;
    }
    .choose_section .slider_indicatore .slick-prev {
        left: 1rem;
    }
    .client_section .title_part h4 {
        font-size: 2rem;
    }
    .client_section .title_part {
        margin: 0 0 4.2rem 1rem;
    }
    .client_section .slick-list {
        padding: 0 10% 0 0 !important;
    }
    .client_section .client_block {
        margin: 11rem auto 10rem;
    }
    .client_section .slider_indicatore .slick-next {
        right: 2rem;
    }
    .client_section .slider_indicatore .slick-prev {
        right: 13rem;
    }
}

@media screen and (max-width: 767.98px) {
    #home .hero_section br {
        display: none;
    }
    #home .hero_section {
        padding: 12rem 0 6rem;
    }
    #home .hero_section::after {
        background: linear-gradient(270deg, rgba(124,112,181,0.75) 0%, rgba(71,65,101,0.9) 100%);
    }
    #home .hero_section h1 {
        font-size: 4.2rem;
        line-height: 5rem;
    }
    #explore {
        max-width: 28rem;
        border-radius: 2.5rem;
        background-color: #ffffff40;
        padding: 2rem 2rem 1rem;
    }
    #explore select {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1rem;
        color: #dcdcdc;
        font-weight: 500;
    }
    #explore select option {
        color: #dcdcdc;
    }
    .scenery_section {
        height: 82rem;
    }
    .scenery_section .scenery_slider {
        max-width: 44rem;
        margin: 0 auto;
        padding: 11rem 0;
    }
    .scenery_section .content {
        display: block;
    }
    .choose_section {
        background-size: 100% 32rem;
    }
    .choose_section::after {
        height: 32rem;
    }
    .choose_section .slider_main {
        max-width: 44rem;
    }
    .choose_section .choose_slider {
        padding-top: 8rem;
    }
    .choose_section .choose_slide {
        padding: 0;
    }
    .choose_section .choose_block {
        max-width: 95.7%;
        margin: 0 auto 7rem;
        padding: 2rem;
    }
    .choose_section .choose_block img {
        width: 7rem;
    }
    .choose_section .content a {
        margin: 2rem 0;
    }
    .partner_section .img_box {
        width: 12rem;
    }
    .partner_section .img_box:last-child {
        margin-bottom: 0;
    }
    .client_section .slick-list {
        padding: 0 !important;
    }
    .client_section .title_part {
        margin: 0 0 4.2rem 2rem;
    }
    .client_section .client_inner {
        padding-left: 0;
    }
    .client_section .client_slide {
        padding: 0 2rem;
    }
    .client_section .client_slider {
        padding-top: 0;
    }
    .client_section .client_block {
        padding: 8rem 3rem 5rem;
        max-width: 44rem;
        margin: 15rem auto 10rem;
    }
    .client_section .slider_indicatore .slick-next,
    .choose_section .slider_indicatore .slick-next {
        right: 50%;
        top: 0;
    }
    .client_section .slider_indicatore .slick-prev,
    .choose_section .slider_indicatore .slick-prev {
        left: 50%;
        top: 0;
    }
    .slider_indicatore .slick-next::before {
        left: 1.5rem;
    }
    .client_section .img_box img {
        width: 10rem;
    }
    .client_section .title_part h4 {
        font-size: 2rem;
    }
    .client_section h2 + p br {
        display: none;
    }
    .client_section .client_block .review_box + p {
        line-height: 2rem;
    }
}

@media screen and (max-width: 479.98px) {
    .scenery_section .scenery_slider {
        margin: 0 -1rem;
    }
    .scenery_section .scenery_block img {
        min-height: 26rem;
    }
    .client_section .title_part {
        margin: 0 2rem 4.2rem;
    }
}